{% extends CMS_TEMPLATE %}
{% load cms_tags %}
{% load sekizai_tags %}

{% block js %}
{% addtoblock "js" %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>

// gets csrf cookie to pass through ajax requests
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


// allows editing of inline table elements
/*$(document).ready( function() {
    $.get("submit/", function(data) {
        alert(data);
    });
});*/

$(document).ready(function(){
    $.fn.editable.defaults.mode = 'inline';
    $.fn.editable.defaults.type = 'text';
    $.fn.editable.defaults.url = 'submit/'; 

    {% if authd %}
    $('.edit').editable();
    $('.newedit').editable();
    {% endif %}
});

</script>
{% endaddtoblock %}
{% endblock %}

{% block title %}
Switches
{% endblock %}

{% block content %}

{% if authd %}
<div class="container" style="padding-bottom:15px">
<form class="form-inline" role="form" action="new/" method="post">{% csrf_token %}
<div class="form-group">
<label class="sr-only" for="name">Switch Name</label>
<input name="name" type="text" class="form-control" id="name" placeholder="Switch Name">
</div>
<div class="form-group">
<label class="sr-only" for="mac">Switch Mac</label>
<input name="mac" type="text" class="form-control" id="mac" placeholder="Switch Mac">
</div>
<div class="form-group">
<label class="sr-only" for="rack">Switch Rack</label>
<input name="rack" type="text" class="form-control" id="rack" placeholder="Switch Rack">
</div>
<div class="form-group">
<label class="sr-only" for="pod">Pod</label>
<input name="pod" type="text" class="form-control" id="rack" placeholder="Pod">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{% endif %}
<table class="table table-striped table-hover table-condensed">
<thead>
<tr>
<th>#</th>
<th>name</th>
<th>mac</th>
<th>rack</th>
<th>pod</th>
</tr>
</thead>
<tbody>

{% for row in r %}
<tr>
<td>{{row.id}}</td>
<td><a href="#" id="name" class="edit" data-pk="{{row.id}}" data-title="Enter Name">{{row.name}}</a></td>
<td><a href="#" id="mac" class="edit" data-pk="{{row.id}}" data-title="Enter Mac">{{row.mac}}</a></td>
<td><a href="#" id="rack" class="edit" data-pk="{{row.id}}" data-title="Enter Rack">{{row.rack}}</a></td>
<td><a href="#" id="pod" class="edit" data-pk="{{row.id}}" data-title="Enter Pod">{{row.pod}}</a></td>
<td><form action="remove/" method="post">{% csrf_token %} <input type="hidden" name="id" value="{{row.id}}"/>
    <button type="submit" class="btn btn-warning btn-xs">Remove</button></form>
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% static_placeholder "sidebar" %}
{% endblock %}
